clients/autoescuela-malaga/workflows/wf1-recordatorio.json
{
  "name": "Recordatorio clase",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "74c9a4ff-1654-491c-9dec-f9fd3d694094",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1whIsikzzX8fEtmq0zpYWFNbwFm5yAa6kmH6uncjOlqs",
          "mode": "list",
          "cachedResultName": "autoescuela_demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1whIsikzzX8fEtmq0zpYWFNbwFm5yAa6kmH6uncjOlqs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1695497725,
          "mode": "list",
          "cachedResultName": "agenda",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1whIsikzzX8fEtmq0zpYWFNbwFm5yAa6kmH6uncjOlqs/edit#gid=1695497725"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "fb47038a-0fa4-4ebc-9513-7d1204d2c75f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YAsKRZbxBIewjnKL",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3fa24872-28d8-4d53-b483-e7167f4f23a1",
              "leftValue": "={{ $json.fecha }}",
              "rightValue": "={{ $now.plus(1, 'day').toFormat('yyyy-MM-dd') }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "30b0ba8b-30be-404c-a7dc-2fb66317f175",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "62e74cc0-e43e-403e-955a-0ff9e0a1f34d",
              "leftValue": "={{ $json.recordatorio_enviado }}",
              "rightValue": "no",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        -96
      ],
      "id": "d0f3ab84-e6d7-49ad-9b70-b0e15e16ed72",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/1052519621273741/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        -192
      ],
      "id": "44e8d52d-6ff2-485e-9ac9-3ebe48a5cfad",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6OFwhWa4NadZJBHh",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " const items = $('Code').all();\n  const results = [];\n  for (const item of items) {\n    results.push({json: {match_nombre: item.json.alumno_nombre, recordatorio_enviado: \"si\"}});\n  }\n  return results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        -240
      ],
      "id": "2cb19edd-aba7-4b65-bf2c-8e34651861a3",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n  for (const item of $input.all()) {\n    const n = item.json.alumno_nombre;\n    const f = item.json.fecha;\n    const h = item.json.hora;\n    const i = item.json.instructor;\n    const p = item.json.punto_recogida;\n    const tel = item.json.alumno_telefono;\n    const texto = \"Hola \" + n + \"! 👋\\n\\n📅 Recordatorio de tu clase practica:\\n\\n🕐 \" + f + \" a las \" + h + \"h\\n🚗 Instructor: \" + i + \"\\n📍 Recogida: \" + \n  p + \"\\n\\n📋 Recuerda traer tu DNI y gafas si las necesitas.\\n\\nPuedes asistir?\";\n    results.push({json: {messaging_product: \"whatsapp\", to: tel, type: \"interactive\", alumno_telefono: tel, alumno_nombre: n, interactive:   \n  {type: \"button\", body: {text: texto}, action: {buttons: [{type: \"reply\", reply: {id: \"confirmar\", title: \"Confirmo\"}}, {type: \"reply\",     \n  reply: {id: \"cancelar\", title: \"No puedo ir\"}}]}}}});\n  }\n  return results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -192
      ],
      "id": "40f8ea09-bff8-45ab-9417-17895364bfca",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1whIsikzzX8fEtmq0zpYWFNbwFm5yAa6kmH6uncjOlqs",
          "mode": "list",
          "cachedResultName": "autoescuela_demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1whIsikzzX8fEtmq0zpYWFNbwFm5yAa6kmH6uncjOlqs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1695497725,
          "mode": "list",
          "cachedResultName": "agenda",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1whIsikzzX8fEtmq0zpYWFNbwFm5yAa6kmH6uncjOlqs/edit#gid=1695497725"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "recordatorio_enviado": "si",
            "alumno_nombre": "={{ $json.match_nombre }}"
          },
          "matchingColumns": [
            "alumno_nombre"
          ],
          "schema": [
            {
              "id": "alumno_nombre",
              "displayName": "alumno_nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "alumno_telefono",
              "displayName": "alumno_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "instructor",
              "displayName": "instructor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "punto_recogida",
              "displayName": "punto_recogida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recordatorio_enviado",
              "displayName": "recordatorio_enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1664,
        -240
      ],
      "id": "4725c11a-569f-40b9-a50e-2f6bd1e32997",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YAsKRZbxBIewjnKL",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a96b0a0c-2a5b-4a38-8d25-d1195b410c35",
              "leftValue": "={{ $json.messaging_product }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1248,
        -192
      ],
      "id": "4a3821ee-85bc-44e6-8744-e5b08f9689c3",
      "name": "If2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "255c063c-7aec-4ed2-8757-91b387397dac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c5a8f655b373d3566f2c51b4a9020e759f139b9a9c42b7b320059648f7ea37e3"
  },
  "id": "2piYceZDd2k95pYj",
  "tags": []
}